<% provide(:title, "About") %>
<h1>About</h1>
<p>
  This is the gimbarr app is designed specially for barrista. </br>
  Here you can search elements, create notes and alerts for trainings and more. </br>
  Come in our
  <a href="http://t.me/GimbarrBot"><em>telegram bot</em></a>.
</p>