<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
  To get help сome in our
  <a href="http://t.me/GimbarrBot"><em>telegram bot</em></a>
  or contact with us on the telegram:
  <a href="http://t.me/GimbarrBotSupport"><em>Gimbarr support</em></a>.
</p>